
html{
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

.wrapper{
  width: 100%;
  height: 100%;
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}



/* menuヘッダー */

.menu{
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: transparent;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.menu-left{
  display: flex;
  line-height: 60px;
  margin-left: 15px;
}

.title{
  display: flex;
}

.menu-left h1{
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 100px;
  color: white;
}

.list{
  display: flex;
}

.list li{
  margin-right: 30px;
  color: white;
}

.icon{
  color: white;
  margin-top: 10px;
  display: block;
}


.menu button{
  background-color: rgb(168, 160, 41);
  color: white;
  display: flex;
  height: 40px;
  width: 130px;
  margin-top: 10px;
  margin-right: 15px;
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

.menu button img{
  
  padding-left: 20px;
  padding-top: 12px;
  
}

.menu button p{
  padding-left: 10px;
  font-weight: bold;
  line-height: 40px;
}



/* 説明 */

.sentence img{
  height: 500px;
  width: 100%;
  line-height: 60px;
}

/* コンテンツ */

.contents{
  width: 100%;
}

.contents-menu{
  width: 100%;
}

.contents-menu li{
  width: 100%;
  display: flex;
}

li img{
  width: 60%;
}

.oheya-sentence{
  width: 40%;
}