
body{
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

.wrapper{
  width: 100%;
  height: 100%;
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}



/* menuヘッダー */

.menu{
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: transparent;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.menu-left{
  display: flex;
  line-height: 60px;
  margin-left: 15px;
}

.title{
  display: flex;
}

.menu-left h1{
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 100px;
  color: white;
}

.list{
  display: flex;
}

.list li{
  margin-right: 30px;
  color: white;
}

.icon{
  color: white;
  margin-top: 10px;
  display: block;
}


.menu button{
  background-color: rgb(168, 160, 41);
  color: white;
  display: flex;
  height: 40px;
  width: 130px;
  margin-top: 10px;
  margin-right: 15px;
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

.menu button img{
  
  padding-left: 20px;
  padding-top: 12px;
  
}

.menu button p{
  padding-left: 10px;
  font-weight: bold;
  line-height: 40px;
}



/* 説明 */

.sentence img{
  height: 500px;
  width: 100%;
  line-height: 60px;
}

/* コンテンツ */

.contents{
  width: 100%;
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;

}

.contents-menu{
  width: 100%;
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;

}

.contents-menu button{
  border: 1px solid black;
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  padding: 20px 40px;
}

.contents-menu li{
  margin-top: 100px;
  width: 100%;
  display: flex;
}

li img{
  width:55%;
}

.oheya-sentence{
  width: 45%;
}

.contents-menu li:nth-child(even){
  flex-flow: row-reverse;
}

.oheya-sentence{
  margin-left: 100px;
}

.menu-sentence{
  margin-right: 100px;
}

.onsen-sentence{
  margin-left: 100px;
}

.contents-menu h1{
  font-size: 32px;
  font-weight: lighter;
  margin-top: 15px;
  margin-bottom: 55px;
}

.contents-menu p{
  margin-bottom: 40px;
  font-size: 15px;
}

/* 宿泊プラン */

.plan-wrapper{
  background-image: url("img/bg02.jpg");
  height: 600px;
  background-position: 0% 30%;
  margin-top: 60px;
  width: 100%;
}

.theme {
  text-align: center;

}

.theme h1{
  font-weight: lighter;
  font-size: 35px;
}

.theme img{
  margin: 30px 0 10px 0;
}

.plans{
  width: 900px;
  height: 380px;
  margin: 25px auto 0;
  display: flex;
  justify-content: space-between;
}

.plans li{
  width: 28%;
  height: 100%;
  
}

.plans li img{
  width: 100%;
  height: 186px;
}

.plans h3{
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  margin-top: 20px;
  font-weight: lighter;
}

.plans p{
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  margin-top: 20px;
  line-height: 28px;
  font-size: 14px;
  font-weight: lighter;
}

/* お知らせ */

.infomation-wrapper{

  height: 600px;
  width: 100%;
}

.infomation-wrapper h1{
  margin-bottom: 20px;
}

.info-tab{
  display: flex;
  width: 150px;
  margin: 0 auto;
  justify-content: space-between;
}

.sales{
  width: 900px;
  
  height: 330px;
  margin: 15px auto 0;
}

.sale1{
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}

.sale2{
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}

.sale3{
  width: 100%;
  height: 100px;
}

.sales ul{
  display: flex;
  justify-content: space-between;
  
}


.sales li{
  width: 48%;
  height: 100px;
  background-color: rgb(246, 246, 246);
}

.sale1 ul li img{
  height: 80px;
  width: 80px;
  margin: 10px;

}

.sale2 ul li img{
  height: 80px;
  width: 80px;
  margin: 10px;
}

.sale3 ul li img{
  height: 80px;
  width: 80px;
  margin: 10px;

}

.sale1 ul li{
  display: flex;
}

.sale2 ul li{
  display: flex;
}

.sale3 ul li{
  display: flex;
}

.info-sen{
  width: 75%;
  background-color: aqua;
  height: 80px;
  margin: 10px 10px 10px 0;
}